.container-wide {
    width: 80%;
    min-width: 960px;
}

.container-game {
    text-align: center;
}

.game-player {
    width: 50%;
    height: 600px;
    background-color: white;
    display: inline-block;
    background-color: #E0FFE8;
    vertical-align: bottom;
}

.game-enemy {
    width: 50%;
    height: 600px;
    background-color: #fff9ef;
    display: inline-block;
    vertical-align: bottom;
}

.player-block {
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}

.player-block__username {
    text-transform: uppercase;
    font-family: "Bitter" serif;
    color: #4F7050;
    font-size: 34px;
    font-weight: 400;
    margin-top: 30px;
}

.player-block-avatar {}

.player-block-avatar__image {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 4px solid #4F7050;
}

.enemy-block {
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}

.enemy-block__username {
    text-transform: uppercase;
    font-family: "Bitter" serif;
    color: #8C694B;
    font-size: 34px;
    font-weight: 400;
    margin-top: 30px;
}

.enemy-block-avatar {}

.enemy-block-avatar__image {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 4px solid #8C694B;
}

.enemy-score {
    color: #8C694B;
    height: 15%;
    margin-top: 65px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-score__points {
    font-family: "Bitter" serif;
    font-size: 90px;
}

.player-score {
    color: #4F7067;
    height: 15%;
    margin-top: 65px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-score__points {
    font-family: "Bitter" serif;
    font-size: 90px;
}

.versus-block {
    position: relative;
    bottom: 370px;
    font-family: "Bitter" serif;
    padding: 15px;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-bottom: -110px;
    background-color: #F2614D;
}