@import url(https://fonts.googleapis.com/css?family=Roboto Condensed+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&subset=latin,cyrillic-ext);
@import url("preloader.css");
@import url("game.css");
@import url("popup.css");

body {
    background-image: url("../img/back.png");
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    background-image: url("../img/square_bg.png");
    background-color: white;
    border-radius: 3px;
    display: table;
    box-sizing: border-box;
    min-width: 500px;
    width: 40%;
}

.container-wide {
    min-width: 700px;
    width: 70%;
}

.container-user {
    height: 70px;
    background-color: rgba(28, 162, 88, 1);
    background-image: url("../img/square_bg.png");
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
}

.container-header {
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.container-header__title {
    margin: 35px 25px 35px 25px;
    color: #555;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
}

.container-user__user {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 70px;
    margin: 0px 0px 0px 20px;
    color: #F0F8FF;
}

.container-avatar {
    float: right;
    height: 100%;
    margin-right: 20px;
    align-items: center;
    display: flex;
}

.container-avatar__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.title_logo {
    font-size: 120px;
    font-weight: 300;
    color: #777;
}

.container-menu {}

.container-menu__menu-button:first-child {
    margin-top: 0px;
}

.container-menu__menu-button:last-child {
    margin-bottom: 50px;
}

.container-menu__menu-button {
    box-sizing: border-box;
    background-image: url("../img/square_bg.png");
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 55%;
    border-radius: 5px;
    padding: 13px 13px;
    font-size: 18px;
    color: #fff;
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
    text-align: center;
    text-decoration: none;
    display: block;
}

.container-menu__menu-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.container-menu__menu-button:hover {
    background-color: #3AC876;
}

.menu-button_clear {
    background-color: #B43F34;
    box-shadow: 0px 5px 0px 0px #8D3228;
}

.menu-button_clear:hover {
    background-color: #AD261C;
}

.menu-button_clear:active {
    box-shadow: 0px 1px 0px 0px;
}

.rating-items-list {
    list-style-type: none;
    margin: auto;
    padding: 5px 15px 5px;
    width: 55%;
}

.rating-items-list-element {
    border-top-width: 2px;
    border-top-style: dashed;
    border-top-color: #6CD795;
}

.rating-items-list-element:first-child {
    border-top-width: 0px;
}

.rating-item {
    color: #555;
    font-weight: 300;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}

.rating-item__name {
    display: inline-block;
    white-space: nowrap;
    width: 50%;
}

.rating-item__score {
    display: inline-block;
    width: 50%;
    text-align: right;
}
