.b-finish {
	background-image: url("../../img/square_bg.png");
	text-transform: uppercase;
    text-align: center;
    padding: 15px 0px;
    width: 400px;
}

@import "__title/b-finish__title";
@import "__button/b-finish__button";
@import "__username/b-finish__username";
@import "__score/b-finish__score";
@import "__avatar/b-finish__avatar";