.b-friend-join__room {
	color: #555;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 50%;
    border: 2px dashed #239051;
}

.room_invalid {
	border: 2px dashed #904436;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}