.b-question__title {
	box-sizing: border-box;
	font-size: 17px;;
	padding: 15px;
	margin: 12px;
	margin-bottom: 7px;
	background-color: #fff;
	border: 1px dashed #eee;
	box-shadow: 0 0 0 4px #ffffff, 1px 5px 6px rgba(0,0,0,.1);
}