.b-button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 55%;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #2ecc71;
    box-shadow: 0 4px 0 0 #15B358;
    text-shadow: 1px 2px #2AB33A;
    text-align: center;
    text-decoration: none;
    display: block;
    &:active {
        @include transform(translate(0px, 5px));
        box-shadow: 0px 1px 0px 0px;
    }
    &:hover {
        background-color: #3AC876;
    }
}

