.b-scores {
  list-style-type: none;
  margin: auto;
  width: calc(55% + 24px);
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 0px;
}

@import "__username/b-scores__username";
@import "__score/b-scores__score";
@import "__points/b-scores__points";