.b-game__player {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 calc(100%);
  background-color: #fff;
  box-shadow: 0 0 0 0px #fff, 1px 2px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-bottom: 5px;
}

.b-game__player:last-child {
  margin-bottom: 0px;
}

.b-game__player_opponent {
}