.b-question__number {
	height: 45px;
	line-height: 45px;
	background-color: rgba(28, 162, 88, 1);
    background-image: url("../../img/square_bg.png");
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #F0F8FF;
    text-shadow: 1px 2px #20922E;
}