@media only screen and (max-width:800px) {
	.container {
		margin: 5vh auto;
		width: 90%;
		height: 100%;
		min-width: 0px;
	}

	.title_large {
		font-size: 18vh;
		margin: 10px auto;
	}

	.b-menu {
		margin-bottom: 5vh;
	}

	.b-scores {
		width: 80%;
	}

	.b-button {
		width: 80%;
		font-size: 3vh;
	}

	.b-gametype__type {
		width: calc(40% - 6px);
		height: 35vh;
	}

	.b-wrapper__segment {
		width: calc(40% - 6px);;
	}

	.b-player-block__username {
		margin-left: 3px;
		font-size: 12px;
	}

	.popup__container {
		overflow: hidden;
		width: 90%;
		margin: auto;
		margin-top: 6vh;
	}
	/*Game responsive style*/
	.b-game {
		overflow: hidden;
	}

	.b-game__player {
		width:100%;
	}

	.b-player__image {
		height: 15vh;
		border: 0.4vh solid #4F7050;
		width: auto;
	}

	.b-player__score {
		height: 15%;
    	margin-top: 2vh;
		margin-bottom: 0px;
    	font-size: 5vh;
	}

	.b-player__username {
		font-size: 3vh;
		margin: 0px;
		margin-bottom: 2vh;
	}

	.versus-block {
		display: none;
	}

	/*Finish popup responsive*/
	.b-finish {
		padding: 5vh 0;
	}

	.b-finish-avatar__avatar {
		margin-bottom: 2vh;
		height: 20vh;
	}

	.b-finish__title {
		margin: 0px;
		margin-bottom: 4vh;
		font-size: 10vh;
	}

	.b-finish__username {
		margin: 0px;
		font-size: 6vh;
	}

	.b-finish__score {
		margin: 0px;
	}

	.b-finish__button {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	/*Question popup responsive*/
	.b-question {
		font-size: 3vh;
	}

	.b-question__title {
		margin: 20px auto;
	}

	.b-question__answer {
		width: 80%;
		font-size: 2vh;
		padding: 6px;
		border-radius: 3px;
		margin-bottom: 1vh;
		margin-top: 1vh;
		box-shadow: 0 2px 0 0 #277192;
		text-shadow: 0px 0px #000;
	}
	/*Search popup*/
	.b-search-game__button {
    	margin-top: 5vh;
	}
	.b-search-game__preloader {
		margin: auto !important;
		position: static !important;
	    width: 30vh !important;
	    height: 30vh !important;
	    max-width: 150px !important;
	    max-height: 150px !important;
	}
	.b-search-game__title {
		margin: 0 5vh 5vh;
	}
}