@import url(https://fonts.googleapis.com/css?family=Fira+Mono&subset=latin,cyrillic-ext);
body {
    background-image: url("../../img/back.png");
    font-family: "Fira Mono", sans-serif;
    margin: 0px;
    padding: 0px;
}
@mixin transform($tr) {
	transform: $tr;
	-webkit-transform: $tr;
}

@import "b-button/b-button";
@import "b-menu/b-menu";
@import "b-game/b-game";
@import "b-question/b-question";
@import "b-scores/b-scores";
@import "b-search-game/b-search-game";
@import "b-friend-game/b-friend-game";
@import "b-friend-invite/b-friend-invite";
@import "b-friend-join/b-friend-join";
@import "b-title/b-title";
@import "b-finish/b-finish";
@import "b-user/b-user";
@import "container/container";
@import "popup/popup";
@import "b-gametype/b-gametype";
@import "preloader/preloader";
@import "mobile";

