.b-game__score {
  padding: 15px;
  color: #888;
  font-size: 25px;
  flex: 0 0 10%;
  background-color: rgba(166,166,166,0.01);
  border-left: 1px solid rgba(204, 204, 204, 0.51);
  display: flex;
  align-items: center;
  justify-content: center;
}