.b-search-game {
	padding: 30px 0px;
	width: 450px;
  	background-image: url("../../img/square_bg.png");
}

@import "__button/b-search-game__button";
@import "__preloader/b-search-game__preloader";
@import "__title/b-search-game__title";