.b-title {
	margin: 35px 25px 35px 25px;
    color: #555;
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.b-title_small {
    margin: 10px 0px 0px 0px;
    color: #555;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

#title-gametype {
}

#title-searchtype {
    margin-top: 30px;
}

@import "_large/b-title_large";